---
name: Continuous Integration

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5

      - name: Golangci-lint
        uses: golangci/golangci-lint-action@v6

      - name: Test
        run: go test -v ./...

      - name: Build
        run: go build -v ./...
